html {
  touch-action: pan-x pan-y; /* Enable panning on touch devices */
  zoom: 1;
  overflow: hidden;
}

/* Center align text */
.App {
  text-align: center;

}

/* App logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Animation for App logo */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* App header styles */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* App link */
.App-link {
  color: #61dafb;
}

/* Animation for App logo spinning */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tank{
  margin-right: 50px;
}

.slider-box{
  margin-left: 50px;
}


/* Glacial tile layer styles */
.glacial-tile-layer {
  filter: hue-rotate(400deg) saturate(120%) contrast(120%) brightness(90%);
}

